
services:
  server:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: development
    ports:
      - "8000:8000"
    environment:
      ENV: development
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - postgres
      - backend
    volumes:
      - ./app:/app/app

  postgres:
    image: postgres:15.1
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      PGDATA: /data/postgres
    volumes:
       - postgres:/data/postgres
    ports:
      - "5434:5432"
    networks:
      - postgres
    env_file:
      - .env
    restart: unless-stopped

  redis:
    image: redis:7.4.0
    ports:
      - "6380:6379"
    networks:
      - postgres
      - backend

  neo4j:
    image: neo4j:5
    volumes:
      - neo4j-logs:/logs
      - neo4j-config:/config
      - neo4j-data:/data
      - neo4j-plugins:/plugins
    environment:
      NEO4J_AUTH: "${NEO4J_USER}/${NEO4J_PASSWORD}"
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_dbms_security_procedures_unrestricted: "apoc.*"
      NEO4J_dbms_security_procedures_allowlist: "apoc.*"
    ports:
      - "7475:7474"
      - "7688:7687"
    restart: always
    networks:
      - backend

  maildev:
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"
    environment:
    - TZ=Europe/Moscow
    - MAILDEV_WEB_PORT=1080
    - MAILDEV_SMTP_PORT=1025
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"


networks:
  postgres:
  backend:


volumes:
    postgres:
    neo4j-logs:
    neo4j-config:
    neo4j-data:
    neo4j-plugins:
