name: Deploy on server

on:
    workflow_dispatch:
    push:
        branches: [ "main" ]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Test SSH
              run: |
                echo "$SSH_KEY" > key.pem
                chmod 600 key.pem
                ssh -i key.pem -o StrictHostKeyChecking=no -p 22 ${{secrets.VPS_USERNAME}}@${{secrets.VPS_HOST}} "echo OK"
              env:
                SSH_KEY: ${{ secrets.SSH_KEY }}
            # - name: Copy on VPS
            #   uses: appleboy/scp-action@v0.1.0
            #   with:
            #     host: ${{secrets.VPS_HOST}}
            #     username: ${{secrets.VPS_USERNAME}}
            #     key: ${{secrets.VPS_PRIVATE_KEY}}
            #     source: './*'
            #     target: '/home/user1/srv'
            - name: Deploy on VPS
              uses: appleboy/ssh-action@v0.1.0
              with:
                host: ${{secrets.VPS_HOST}}
                username: ${{secrets.VPS_USERNAME}}
                key: ${{secrets.VPS_PRIVATE_KEY}}
                script: | 
                  cd /home/${{secrets.VPS_USERNAME}}/srv
                  docker compose up -d --build


