name: Deploy on server

on:
    workflow_dispatch:
    push:
        branches: [ "main" ]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Setup SSH
              uses: webfactory/ssh-agent@v0.9.0
              with:
               ssh-private-key: ${{secrets.VPS_PRIVATE_KEY}}
            - name: Add github updates
              run: | 
                 ssh -o StrictHostKeyChecking=accept-new "${{secrets.VPS_USERNAME}}@${{secrets.VPS_HOST}}" "bash -lc '
                 cd /home/${{ secrets.VPS_USERNAME }}
                 mkdir prod -p
                 cd prod
                 PROD_DIR="/home/${{ secrets.VPS_USERNAME }}/prod"
                
                 if [ ! -d "/home/${{ secrets.VPS_USERNAME }}/prod" ] || [ ! -d "/home/${{ secrets.VPS_USERNAME }}/prod/.git" ]; then
                    echo "Cloning fresh repo..."
                    rm -rf ./* ./.[!.]*
                    git clone https://github.com/ArtemS18/SkillMap-Deploy.git .
                    git submodule update --init --recursive
                 else
                    echo "Pulling updates..."
                    git pull origin main
                    git submodule update --recursive
                 fi
                 '"
            - name: Docker pull
              run: |
                ssh -o StrictHostKeyChecking=accept-new "${{secrets.VPS_USERNAME}}@${{secrets.VPS_HOST}}" "sudo bash -lc '
                cd /home/${{ secrets.VPS_USERNAME }}/prod
                docker compose pull
                docker compose up -d --build --remove-orphans
                '"