name: Deploy on server

on:
    workflow_dispatch:
    push:
        branches: [ "main" ]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Setup SSH
              uses: webfactory/ssh-agent@v0.9.0
              with:
               ssh-private-key: ${{secrets.VPS_PRIVATE_KEY}}
            - name: Add github init
              run: | 
                 ssh -o StrictHostKeyChecking=accept-new "${{secrets.VPS_USERNAME}}@${{secrets.VPS_HOST}}" "bash -lc '
                 cd /home/${{ secrets.VPS_USERNAME }}
                 PROD_DIR="/home/${{ secrets.VPS_USERNAME }}/prod"
                
                 if [ ! -d "$PROD_DIR" ] || [ ! -f "$PROD_DIR/.git" ]; then
                    echo "Cloning fresh repo..."
                    rm -rf \"$PROD_DIR\"
                    git clone https://github.com/ArtemS18/SkillMap-Deploy.git "$PROD_DIR"
                    cd "$PROD_DIR"
                    git submodule update --init --recursive
                    else
                 echo "Pulling updates..."
                    cd "$PROD_DIR"
                    git pull origin main
                    git submodule update --recursive
                 fi
                 '"


            # - name: Copy on VPS
            #   uses: appleboy/scp-action@v0.1.0
            #   with:
            #     host: ${{secrets.VPS_HOST}}
            #     username: ${{secrets.VPS_USERNAME}}
            #     key: ${{secrets.VPS_PRIVATE_KEY}}
            #     source: './*'
            #     target: '/home/user1/srv'
            # - name: Deploy on VPS
            #   uses: appleboy/ssh-action@v0.1.0
            #   with:
            #     host: ${{secrets.VPS_HOST}}
            #     username: ${{secrets.VPS_USERNAME}}
            #     key: ${{secrets.VPS_PRIVATE_KEY}}
            #     script: | 
            #       cd /home/${{secrets.VPS_USERNAME}}/srv
            #       docker compose up -d --build


